@import "~@blueprintjs/core/lib/scss/variables.scss";

.image-toolbar {
    pointer-events: none;
    padding: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    background: #fff !important;

    span {
        pointer-events: auto;
    }

    position: absolute;
    margin: 5px;
    transition: opacity 400ms;

    flex-wrap: wrap;
    justify-content: flex-end;

    .#{$ns}-popover-target {
        flex: none !important;
    }

    &.docked {
        z-index: 4;
    }

    .full-zoom-button {
        padding-left: 0;
        padding-right: 0;
        font-weight: bold;
        font-size: smaller;

        span {
            color: $gray1;
        }
    }

    .link-button {
        width: 30px;

        .#{$ns}-button-text {
            position: absolute;
            top: 0;
            left: 16px;
            font-size: smaller;
            color: $gray1;
        }

        .#{$ns}-icon {
            transform: scale(-1, 1);
        }
    }

    &.#{$ns}-dark {
        .full-zoom-button {
            .#{$ns}-button-text {
                color: $gray5;
            }
        }

        .link-button {
            .#{$ns}-button-text {
                color: $gray5;
            }
        }
    }
}

.#{$ns}-form-group.offset-group {
    border: 2px;
    margin: 0 0 0 5px;
    .#{$ns}-form-content {
        display: inline-flex;
        align-items: center;
        .#{$ns}-popover-target {
            margin-left: 5px;
        }
    }

    .offset-switch {
        margin: 0 !important;
        padding: 6px 0 6px 38px;
    }
}

.scaling-radio-group {
    padding: 8px;
    .bp5-radio {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 4px !important;

        padding-left: 34px;
        padding-right: 8px;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    .bp5-control input:checked ~ .bp5-control-indicator {
        background-color: rgba(0, 152, 255, 1) !important;
        &:hover {
            background-color: rgba(0, 152, 255, 1) !important ;
        }
    }
}
.toolbar-icon {
    &:hover {
        svg {
            cursor: pointer;
            fill: rgba(230, 249, 255, 1) !important;
            path {
                fill: rgba(0, 152, 255, 1);
                stroke: rgba(0, 152, 255, 1);
            }
        }
    }
    margin-bottom: 4px;
    img {
        cursor: pointer;
        width: 26px;
        height: 26px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
